$main-color: #10171E;
$second-color: #1C2938;
$second-color-textWhite: #F5F6FA;
$second-color-textBlue: #72C5F8;
$third-color: #1CA1F1;
$grey : #5F6E7B;

$primaryColor: #1CA1F1;
$secondaryColor: #1C2938;

$themeDarkColor: #10171E;

$usernameTextColor: #fff;


// Color items
$colorWhite: #FFF;
$colorBlack: #000;
