nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.navbar li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}