@import 'styles/_colors.scss';
nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $second-color;
  color: white;
  border-top: 1px solid $grey;

  a:link {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

}

