@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';
@import 'styles/_variables.scss';
header {
  background-color: $second-color;
  border-right: 1px solid $grey;
  width: 35%;
  nav {
    @media #{$responsive-medium} {
      border-top: 1px solid $grey;
      border-right: none;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;
    }

    ul {
      display: flex;
      position: fixed;
      left: 0;
      flex-direction: column;
      list-style: none;
      @media #{$responsive-large} {
        left: 0;
      }
      @media #{$responsive-medium} {
        width: 100%;
        position: initial;
        flex-direction: row;
        justify-content: center;
        padding: 0;
      }

      > li.li-navbar {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
        @media #{$responsive-medium} {
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }

        > a {
          display: flex;
          align-items: center;
          border-radius: 2rem;
          padding: 0 2rem;
          text-decoration: none;
          transition: background-color .3s ease;
          @media #{$responsive-medium} {
            padding: 0.5rem 1.3rem;
          }
          > svg.icon {
            fill: $colorWhite;
            transition: fill .3s ease;
          }
          > p {
            margin-left: 2rem;
            @extend .font-menu;
            color: $colorWhite;
            transition: color .3s ease;
            @media #{$responsive-large} {
              margin-left: 0.5rem;
              font-size: 1.1rem;
            }
            @media #{$responsive-medium} {
              display: none;
            }
          }
        }
        &.active, &:hover {
          > a {
            > svg.icon {
              fill: $primaryColor;
            }
            > p {
              color: $primaryColor;
            }
          }
        }
        &:hover {
          > a {
            background-color: rgba(29,161,242, 0.1);
          }
        }
      }
    }
  }
}

