@import 'styles/_colors.scss';
@import 'styles/_variables.scss';

.App {
  > div {
    background-color: $main-color;
  display: flex;
  color: white;
  min-height: 100vh;
  @media #{$responsive-medium} {
    flex-direction: column;
  }
  }
}

h1 {
  color: white;
}

.icon {
  width: 35px;
  height: 35px;
  fill : $grey;

}

.test {
  height: 71px;
}

.btn-primary {
  background-color: $third-color;
  color: white;
  border: none;
}

body {
  background-color: $main-color ;
}